#premPar{
  background-color : #2980b9;
}

#secPar{
  background-color: #ecf0f1;
}

#thirPar{
  background-color: #e74c3c;
}

#imgCalais{
  width : 500px;
  height : auto;
}

@media (max-width : 480px){

  #imgCalais{
    width : 40;
    height : auto;
  }

}
